<div class="contact-list">
    <div class="element smooth-transition">
        <span class="search-icon bi bi-search"></span>
        <input type="search" placeholder="Search..."/>
    </div>

    <h3>Groups</h3>
    <ul class="list">
    @foreach(Group group in Groups)
    {
        <li class="list-item flex-row smooth-transition">
            <span class="contact-left name">@group.Name</span>
            <span class="contact-right bi bi-chat-right-dots"></span>
        </li>
    }
    </ul>
    
    <h3>Contacts</h3>
    <ul class="list">
    @foreach(Contact contact in Contacts)
    {
        <li class="list-item flex-row smooth-transition">
            <div class="contact-left flex-column">
                <div class="name flex-row">
                    <span>@contact.Nickname</span>
                    <span class="status @contact.Status.ToString().ToLower()"></span>
                </div>
                <span class="last-message">Last message</span>
            </div>
            <span class="contact-right bi bi-chat-right-dots"></span>
        </li>
    }
    </ul>
</div>

@code {
    private ICollection<Group> Groups { get; set; } = new List<Group>()
    {
        new Group
        {
            Name = "All"
        }
    };

    private ICollection<Contact> Contacts { get; set; } = new List<Contact>()
    {
        new Contact
        {
            Nickname = "David",
            Status = ContatStatus.Online
        },
        new Contact
        {
            Nickname = "Adam",
            Status = ContatStatus.Offline
        },
        new Contact
        {
            Nickname = "Lukas",
            Status = ContatStatus.Unknown
        }
    };
}
