.page {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

main {
    position: relative;
    width: 100%;
    padding: 24px 48px;
}

@media (max-width: 640.98px) {
    
}

@media (min-width: 641px) {
    .page {

    }
}
