@inherits LayoutComponentBase

<div class="page">
    <div class="contact-list">
        <ContactList />
    </div>

    <main>
        <div class="top-row">
            <TopBar />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
