@page "/"

<div class="chat-control">
    <div class="chat-container flex-column">
        hello
    </div>

    <div class="send-container container flex-row">
        <input type="text" placeholder="Send message..."/>
        <button type="button" class="send-button smooth-transition">
            <span class="bi bi-cursor"></span>
        </button>
    </div>
</div>

@code {
    private IEnumerable<Message> Messages { get; set; }
}