@page "/"

<div class="">
    <div class="container">
        
    </div>

    <div class="container">
        <input type="" placeholder="Send message..."/>
        <button type="button">
            <!--<span class=""></span>-->
        </button>
    </div>
</div>

@code {
    private IEnumerable<Message> Messages { get; set; }
}